body {
    background-color: black;

}
/*.buton {*/
/*    padding: 15px 25px;*/
/*    font-size: 24px;*/
/*    text-align: center;*/
/*    cursor: pointer;*/
/*    outline: none;*/
/*    color: #fff;*/
/*    background-color: #4CAF50;*/
/*    border: none;*/
/*    border-radius: 15px;*/
/*}*/

/*.buton:active {*/
/*    transform: translateY(4px);*/
/*}*/

/*.buton:before{*/
/*    width: 100px;*/
/*    transition: transform 5s;*/
/*}*/

/*.buton:hover{*/
/*    width: 150px;*/
/*    transition: transform 5s;*/
/*}*/



.proiect {
    margin: 100px auto;
}

.info {
    color: white;
    margin: 50px;
    text-align: center;
    font-family: sans-serif;
}

.row {
    display: flex;
    justify-content: center;
}

.apasareRED{
    background-color: #560202;
}
.apasareFlamingo{
    background-color: #af4223;

}
.apasareOrange{
    background-color: #a4530b;

}
.apasareYellow{
    background-color: #9a8002;

}
.apasareBej{
    background-color: #8d884c;

}






button {
    margin: 3px;
    border-radius: 5px;
    height: 50px;
    font-size: large;
    /*transition: transform 5s;*/
}

.red {
    border: 2px solid #560202;
    background-color: #9a0d24;
}

.flamingo {
    border: 2px solid #af4223;
    background-color: #f97146;
}

.orange {
    border: 2px solid #a4530b;
    background-color: #fb7f01;
}

.yellow {
    border: 2px solid #9a8002;
    background-color: #d8b201;
}

.bej {
    border: 2px solid #8d884c;
    background-color: #cac06e;
}

.size1 {
    width: 50px;
}

.size2 {
    width: 70px;
}

.size3 {
    width: 88px;
}

.size4 {
    width: 116px;
}